#header {
    width:100%;
    height: 160px;
    background: #5f0080;
    .container {
        width:100%;
        .content {
            width:100%;
            .image-box {
                width:100%;
            }
        }
    }
}