#section1 {
    width:100%;
    height: auto;
    .slide-container{
        width:100%;
        max-width: 1900px;
        .slide-view{
            z-index:2;
            width:100%;
            overflow: hidden;
            .slide-wrap{
                width: 100% *26;
                display: flex;
                margin-left: 100%;
                position: relative;
                left: -100% * 23;
                .slide{
                    width:100%;
                    a {
                        display:block;
                        width: 100%;
                        img {
                            width:100%;
                        }
                    }

                }
            }
        }
        .next-slide {
            z-index: 2;
            position:absolute;
            top:50%;
            right:50%;
            margin-right: -600px;
            width: 52px;
            height:52px;
            border:0;
            background:none;
            transform: rotate(180deg);
            img {width:52px; height: 52px;}
        }
        .prev-slide {
            z-index: 2;
            position:absolute;
            top:50%;
            right:50%;
            margin-right: -600px;
            width: 52px;
            height:52px;
        }
    }
}